*.exe
*.out
*.app
*.o
*.obj
*.dll
*.lib
*.so
*.a

.vs/
Debug/
Release/
x64/
x86/
*.user
*.suo
*.sdf
*.opendb
ipch/

# --- Системные файлы Windows ---
Thumbs.db
Desktop.ini

.vscode/
.idea/
*.swp
*.swo
*~
